<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-success btn-block margin" (click)='newContact()'>+ Add Contact</button>
      <contact-list (contactOut)="receivedContact($event)"  [contacts]="contacts"></contact-list>
    </div>
    <div class="col-sm-9">
      <div *ngIf="showForm">
        <h2>New Contact</h2>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="well">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required name="name" ngModel>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" required name="email" ngModel>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="number" class="form-control" required name="phone" ngModel>
          </div>
          <div class="form-group">
            <label>Picture</label>
            <input type="text" class="form-control" required name="picture" ngModel>
          </div>
          <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
      <contact-detail *ngIf="selectedContact && noUpdate" 
                      [displayedContact]="selectedContact" 
                      (updateForm)="updateHere()"
                      (deleteThis)="requestDelete($event)"
                      ></contact-detail>
      <update-form *ngIf="selectedContact && !noUpdate" [updateContact]="selectedContact" (updateOut)="updatingNow($event)"></update-form>
    </div>
  </div>
</div>
